.add-task-container {
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    font-size: 3rem;
}

.form-container {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
}

/* === Left Form Container === */

.left-form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid #D1D1D1; */
    /* padding-right: 5rem; */
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 2rem;
}

.add-task-inputfield {
    border: 1px solid #D1D1D1;
    /* max-width: 422px; */
    height: 40px;
    border-radius: 10px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

textarea {
    border: 1px solid #D1D1D1;
    /* width: 422px; */
    height: 80px;
    border-radius: 10px;
    padding: 1rem;
}

hr {
    border: none;
    border-left: 1px solid #D1D1D1;
    width: 1px;
}

/* === Right Form Container === */

.right-form-container {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.prio-button-headline {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* width: 422px; */
    display: flex;
    align-items: center;
}

.prio-button-icon {
    margin-right: 0.5rem;
    width: 15px;
}

.prio-button {
    width: 130px;
    height: 40px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}

.prio-button-active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

/* === Submit Container === */

.submit-container {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: flex-end;
    /* max-width: 1000px; */
}

.submit-button {
    height: 50px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    border: 1px solid #2A3647;
}

.create-task-button {
    background-color: #2A3647;
    color: white;
}

.submit-button-icon {
    margin-left: 1rem;
    width: 15px;
}