body {
    max-height: 100vh;
}

.board-container {
    padding: 3rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline-container>h1 {
    font-size: 3rem;
}

.headline-right {
    display: flex;
}

.task-search {
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    padding: 0 1rem;
}

.add-task-button {
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0rem 1rem;
    border-radius: 10px;
    margin-left: 1rem;
    border: 1px solid #2A3647;
    cursor: pointer;
}

.add-icon {
    width: 15px;
    height: 15px;
    margin-left: 1rem;
}


/* === Task Status Container === */

.task-status-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.task-status-row {
    width: 20%;
}

.task-status-header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
}

.task-status-header>p {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.task-container {
    height: 60vh;
    overflow-y: scroll;
    margin-top: 2rem;
}

.task-container::-webkit-scrollbar {
    display: none;
}

/* === Task Card === */

.task {
    width: 100%;
    min-height: 200px;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem;
    border: 1px solid white;
}

.task:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 125ms;
}

.category-container {
    /* background-color: lightcoral; */
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 12px;
    text-align: center;
}

.title-container {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
}

.description-container {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.card-footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

.assigned-to-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
}

.delete-container {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.trash-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/* === Add Task Dialog === */

.add-task-dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-dialog {
    height: 90vh;
    width: 70vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;
}

.close-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.125s ease-in-out;
}

.add-task-include {
    width: 100%;
}

/* === Detail Task Dialog === */

.detail-task-dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-task-dialog {
    height: 50vh;
    width: 20vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}