.contacts-container {
    display: flex;
}

.contacts-nav {
    margin-top: 4px;
    padding-bottom: 75px;
    background-color: white;
    box-shadow: 5px 4px 4px rgb(0 0 0 / 10%);
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-y: scroll;
    width: 30vw;
    height: 100vh;
}

/* === Contact-Box === */

.initial-section {
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
}

.contact-section {
    /* padding: 1rem 0rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
}

.single-contact {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.single-contact:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    transition: all ease-in-out 125ms;
}

.active-single-contact {
    background-color: rgba(0, 0, 0, 0.05);
}

.contact-circle {
    margin-right: 1rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-circle > p {
    color: whitesmoke;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    color: #007CEE;
}

/* === Main Container === */

.main-container {
    /* padding: 3rem 10%; */
    padding-bottom: 123px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

/* === Contacts Headline === */

.contacts-headline {
    display: flex;
    align-items: center;
}

.contacts-headline > h1 {
    border-right: 1px solid black;
    padding-right: 2rem;
    font-size: 3rem;
}

.contacts-headline > p {
    padding-left: 2rem;
    font-size: 1.5rem;
}

/* === Contact-Details === */

.contact-detail {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 3rem;
    border-radius: 12px;
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
}

.contact-details-header {
    display: flex;
    align-items: center;
}

.contact-circle-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 3rem;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
}

.contact-name {
    font-size: 1.5rem;
}

.contact-information-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.edit-container {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.contact-email-container {
    margin-top: 2rem;
}

.headline {
    font-weight: 700;
}

.mail-address {
    color: #007CEE;
}

.contact-company-container {
    margin-top: 2rem;
}

/* === Button-Section === */

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 3rem;
}

.add-contact-button {
    background-color: #2A3647;
    color: white;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    border: 1px solid #2A3647;
}

.delete-contact-button {
    background-color: white;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    border: 1px solid #2A3647;
}

/* === New Contact Dialog === */

.new-contact-dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-contact-dialog {
    width: 800px;
    background-color: white;
    border-radius: 12px;
    position: relative;
    display: flex;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.close-icon-dialog {
    /* position: absolute; */
    width: 25px;
    height: 25px;
    /* top: 20px;
    right: 20px; */
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;
}

.close-icon-dialog:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.125s ease-in-out;
}

.headline-container-contact {
    width: 40%;
    background-color: #2A3647;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.headline-container-contact > p {
    border-bottom: 3px solid #29ABE2;
    margin-top: 1rem;
}

.logo {
    object-fit: contain;
    width: 60px;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
}

.input-cnt {
    position: relative;
}

.contact-input {
    border: 1px solid #D1D1D1;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}

.input-icons {
    position: absolute;
    top: 25px;
    right: 20px;
}

.company-icon {
    width: 26px;
    filter: invert(94%) sepia(8%) saturate(0%) hue-rotate(191deg) brightness(88%) contrast(93%);
}

.button-contact-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

@media (min-width: 2560px) {
    .headline {
        font-size: 3.5rem;
    }

    .contacts-headline {
        font-size: 3rem;
    }

    .contacts-nav {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .initial-section > p {
        font-size: 2rem;
    }

    .contact-circle {
        width: 60px;
        height: 60px;
    }

    .contact-circle > p {
        font-size: 1.5rem;
    }

    .contact-information > p {
        font-size: 1.5rem;
    }

    .contact-detail {
        height: 75%;
    }

    .contact-name {
        font-size: 2rem;
    }

    .contact-information-container {
        margin-top: 4rem;
    }

    .contact-information-container > p {
        font-size: 1.5rem;
    }

    .contact-email-container {
        margin-top: 4rem;
    }

    .contact-company-container {
        margin-top: 4rem;
    }

    .headline {
        font-size: 1.5rem;
    }

    .mail-address {
        font-size: 1.5rem;
    }

    .phone-number {
        font-size: 1.5rem;
    }

    .company-name {
        font-size: 1.5rem;
    }

    .main-container {
        width: 60%;
    }

    .add-contact-button {
        font-size: 1.3rem;
        height: 60px;
    }

    .delete-contact-button {
        font-size: 1.3rem;
        height: 60px;
    }
}

@media (max-width: 1024px) {
    .contacts-headline > h1 {
        font-size: 2rem;
    }

    .contacts-headline > p {
        font-size: 1rem;
    }

    .main-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .contact-information > p {
        font-size: 0.8rem;
    }

    .contacts-nav {
        width: 36vw;
    }

    .contact-name {
        font-size: 1.3rem;
    }

    .contact-information-container > p {
        font-size: 0.8rem;
    }

    .headline {
        font-size: 0.8rem;
    }

    .mail-address {
        font-size: 0.8rem;
    }

    .phone-number {
        font-size: 0.8rem;
    }

    .company-name {
        font-size: 0.8rem;
    }

    .contact-circle-container {
        width: 55px;
        height: 55px;
        margin-right: 2rem;
    }

    .initials {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .main-container {
        display: none;
    }

    .contacts-nav {
        width: 100vw;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3rem;
    }

    .contact-information > p {
        font-size: 1rem;
    }

    .contact-circle {
        width: 45px;
        height: 45px;

    }

    .contact-details-mobile {
        background-color: white;
        z-index: 999;
        position: absolute;
        top: 80px;
        bottom: 0;
        right: 0;
        left: 200px;
        padding: 3rem 10%;
    }

    .contact-details-container-mobile {
        background-color: rgba(0, 0, 0, 0.03);
        padding: 2rem;
        border-radius: 12px;
        height: 100%;
    }

    .backwards-icon-cnt {
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .backwards-icon-cnt:hover {
        background-color: rgba(0, 0, 0, 0.05);
        transition: all 0.125s ease-in-out;
    }
}