.sidenav-container {
    width: 200px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.join-logo {
    object-fit: cover;
}

.nav-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #091931;
    transition: all ease-in-out 125ms;
}

.active-link {
    background-color: #091931;
}


.nav-link > img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.home-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(101deg) brightness(101%) contrast(102%);
    width: 28px !important;
    height: 28px !important;
    margin-left: -2.5px;
}

.nav-footer {
    width: 100%;
}

@media (min-width: 2560px) {
    .sidenav-container {
        width: 280px;
    }

    .nav-link {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .nav-link > img {
        width: 30px;
        height: 30px;
    }

    .home-icon {
        width: 38px !important;
        height: 38px !important;
    }
}

@media (max-width:1024px) {
    .sidenav-container {
        width: 150px;
    }

    .nav-link {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .join-logo {
        width: 75px;
    }
}

@media (max-width: 768px) {
    .sidenav-container {
        width: 190px;
    }

    .nav-link {
        padding: 1rem 2rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .sidenav-container {
        display: none;
    }

    .header-container {
        border-left: unset;
    }

    .headline-container > p {
        display: none;
    }

    .questionmark-icon {
        display: none;
    }
}