.summary-container {
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* === Summary Header */

.summary-header > h1 {
    border-right: 1px solid black;
    padding-right: 2rem;
    font-size: 3rem;
}

.summary-header > p {
    padding-left: 2rem;
    font-size: 1.5rem;
}

.summary-header {
    display: flex;
    align-items: center;
}

/* === Summary Row 1 === */

.summary-row-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 600px;
}

.summary-box {
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.number-in-box {
    /* font-weight: 700; */
    font-size: 4rem;
}

.text-in-box {
    text-align: center;
}

/* === Summary Row 2 === */

.summary-row-2 {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    height: 170px;
}

.urgent-box {
    display: flex;
    height: 170px;
    background-color: white;
    border-radius: 30px;
    width: 600px;
    padding: 2rem;
}

.urgent-box-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    width: 50%;
}

.urgent-box-left > img {
    width: 60px;
    height: 60px;
}

.number-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.number-in-urgent-box {
    font-size: 2rem;
}

.urgent-box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.deadline-date {
    font-weight: 700;
    font-size: 1.5rem;
}

.welcome-text-container {
    margin-left: 8rem;
}

.text-box {
    margin: 3rem 0;
}

.welcome-text {
    font-size: 3rem;
}

.welcome-name {
    font-size: 3.5rem;
    color: #29ABE2;
    font-weight: 700;
}

/* === Summary Row 3 === */

.summary-row-3 {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.todo-container, .done-container {
    background-color: white;
    width: 280px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-number, .done-number {
    font-size: 4rem;
}

.todo-text-container, .done-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.done-container > img {
    width: 60px;
    height: 60px;
}

.todo-container > img {
    width: 60px;
    height: 60px;
}


/* === Responsive Design === */

@media (min-width: 2560px) {
    .summary-header > h1 {
        font-size: 3.5rem;
    }

    .summary-header > p {
        font-size: 2rem;
    }

    .summary-row-1 {
        width: 920px;
    }

    .summary-box {
        width: 250px;
        height: 250px;
    }

    .text-in-box {
        font-size: 1.5rem;
    }

    .number-in-box {
        font-size: 5rem;
    }

    .summary-row-2 {
        width: 920px;
        height: 250px;
    }

    .urgent-box {
        width: 920px;
        height: 250px;
    }

    .urgent-box-left > img {
        width: 80px;
        height: 80px;
    }

    .number-in-urgent-box {
        font-size: 5rem;
    }

    .urgent-title {
        font-size: 1.5rem;
    }

    .deadline-date {
        font-size: 2rem;
    }

    .upcoming-deadline-title {
        font-size: 1.5rem;
    }

    .summary-row-3 {
        width: 920px;
        height: 250px;
    }

    .todo-container, .done-container {
        width: 410px;
    }

    .todo-container > img {
        width: 80px;
        height: 80px;
    }

    .todo-number, .done-number {
        font-size: 5rem;
    }

    .todo-text {
        font-size: 1.5rem;
    }

    .done-text {
        font-size: 1.5rem;
    }

    .done-container > img {
        width: 80px;
        height: 80px;
    }
}

/* Bis zu einer Maximalen Bildschirmgröße von 1440px folgende CSS Eigenschaften: */
@media (max-width:1440px) {
    .summary-header > h1 {
        font-size: 2rem;
    }

    .summary-header > p {
        font-size: 1.5rem;
    }

    .summary-row-1 {
        width: 515px;
    }

    .summary-box {
        width: 150px;
        height: 150px;
    }

    .text-in-box {
        font-size: 1rem;
    }

    .number-in-box {
        font-size: 3rem;
    }

    .summary-row-2 {
        width: 515px;
        height: 150px;
    }

    .urgent-box {
        width: 515px;
        height: 150px;
    }

    .urgent-box-left > img {
        width: 50px;
        height: 50px;
    }

    .number-in-urgent-box {
        font-size: 3rem;
    }


    .deadline-date {
        font-size: 1rem;
    }

    .summary-row-3 {
        width: 515px;
        height: 150px;
    }

    .todo-container, .done-container {
        width: 240px;
    }

    .todo-container > img {
        width: 50px;
        height: 50px;
    }

    .todo-number, .done-number {
        font-size: 3rem;
    }

    .done-container > img {
        width: 50px;
        height: 50px;
    }
}

/* Bis zu einer Maximalen Bildschirmgröße von 768px folgende CSS Eigenschaften: */
@media (max-width: 768px) {
    .summary-header > h1 {
        font-size: 1.5rem;
    }

    .summary-header > p {
        font-size: 1rem;
    }

    .summary-row-1 {
        width: 100%;
    }

    .summary-box {
        width: 110px;
        height: 110px;
    }

    .text-in-box {
        font-size: 0.8rem;
    }

    .number-in-box {
        font-size: 2rem;
    }

    .summary-row-2 {
        width: 100%;
        height: 110px;
    }

    .urgent-box {
        width: 100%;
        height: 110px;
    }

    .urgent-box-left > img {
        width: 40px;
        height: 40px;
    }

    .urgent-title {
        font-size: 0.8rem;
    }

    .number-in-urgent-box {
        font-size: 2rem;
    }

    .deadline-date {
        font-size: 0.8rem;
    }

    .upcoming-deadline-title {
        font-size: 0.8rem;
    }

    .summary-row-3 {
        width: 100%;
        height: 110px;
    }

    .todo-container, .done-container {
        width: 175px;
    }

    .todo-container > img {
        width: 40px;
        height: 40px;
    }

    .todo-number, .done-number {
        font-size: 2rem;
    }

    .done-container > img {
        width: 40px;
        height: 40px;
    }
}