<div class="add-task-container">

    <h1 class="headline">Add Task</h1>

    <div class="left-form-container">
        <form action="">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="">
    
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            
            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="" disabled selected hidden>Select task category</option>
                <option value="software-development">Software Development</option>
                <option value="design">UX/UI - Design</option>
                <option value="marketing">Marketing</option>
                <option value="sales">Sales</option>
            </select>

            <label for="assigned">Assigned to</label>
            <select name="assigned" id="assigned">
                <option value="" disabled selected hidden>Select contacts to assign</option>
                <option value="kevin">Kevin</option>
            </select>
        </form>
    </div>

    <div class="right-form-container"></div>

</div>