<div class="add-task-container">

    <h1 class="headline">Add Task</h1>

    <form onsubmit="addTask(); return false;">
        <div class="form-container">

            <div class="left-form-container">
                <!-- === Title === -->
                <label for="title">Title</label>
                <input required id="taskTitle" class="add-task-inputfield" type="text" name="title"
                    placeholder="Enter a title" />

                <!-- === Description === -->
                <label for="description">Description</label>
                <textarea required name="description" id="taskDescription" cols="30" rows="10"
                    placeholder="Enter a description"></textarea>

                <!-- === Category === -->
                <label for="category">Category</label>
                <select required class="add-task-inputfield" name="category" id="taskCategory">
                    <option value="" disabled selected hidden>Select task category</option>
                    <option value="Software-Development">Software Development</option>
                    <option value="Design">UX/UI - Design</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Sales">Sales</option>
                </select>

                <!-- === Assigned to === -->
                <label for="assigned">Assigned to</label>
                <select required class="add-task-inputfield" name="assigned" id="taskAssignedTo">
                    <option value="" disabled selected hidden>Select contacts to assign</option>
                    <option value="Kevin Wagner">Kevin Wagner</option>
                    <option value="Kristian Huptas">Kristian Huptas</option>
                </select>
            </div>

            <hr>

            <div class="right-form-container">
                <!-- === Due date === -->
                <label for="dueDate">Due date</label>
                <input required class="add-task-inputfield" type="date" id="taskDueDate" name="dueDate">

                <!-- === Prio Buttons === -->
                <div class="prio-button-container">
                    <h3 class="prio-button-headline">Prio</h3>
                    <div class="button-container">
                        <button onclick="addUrgent()" id="urgent-button" class="prio-button" value="urgent"><img
                                class="prio-button-icon" src="../assets/icons/urgent.png" alt="">
                            Urgent</button>
                        <button onclick="addMedium()" id="medium-button" class="prio-button" value="medium"><img
                                class="prio-button-icon" src="../assets/icons/medium.png" alt="">
                            Medium</button>
                        <button onclick="addLow()" id="low-button" class="prio-button" value="low"><img
                                class="prio-button-icon" src="../assets/icons/low.png" alt=""> Low</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit-container">
            <!-- === Clear & Create Task Buttons === -->
            <button class="submit-button">Clear <img class="submit-button-icon" src="../assets/icons/cancel.png"
                    alt=""></button>
            <button type="submit" class="submit-button create-task-button"> Create Task <img
                    class="submit-button-icon" src="../assets/icons/done.png" alt=""></button>
        </div>
    </form>

</div>