<div class="header-container">

    <div class="headline-container">
        <p>Kanban Project Management Tool</p>
    </div>

    <div class="icon-container">
        <a href="../html/help.html"><img class="questionmark-icon" src="../assets/icons/questionmark.png" alt=""></a>
        <img id="header-profile" onclick="showLogOutDialog()" class="profile" src="../assets/img/profilbild.JPG" alt="">
    </div>

    <!-- === Log Out Dialog -->
    <div id="dialog" class="logout-dialog d-none">
        <a class="help" href="/html/help.html">
            <p>Help</p>
        </a>
        <a class="legal-notice" href="/html/legal-notice.html">
            <p>Legal notice</p>
        </a>
        <a href="../index.html">
            <p>Log Out</p>
        </a>
    </div>

</div>