<div class="sidenav-container">

    <div class="nav-header">
        <a href="../html/home.html"><img class="join-logo" src="../assets/img/logo.png" alt=""></a>
    </div>

    <div class="nav-main">
        <a onclick="" id="home-link" class="nav-link" href="../html/home.html"><img class="home-icon" src="../assets/icons/home.png" alt=""> Home</a>
        <a onclick="" id="summary-link" class="nav-link" href="../html/summary.html"><img src="../assets/icons/summary.png" alt=""> Summary</a>
        <a onclick="" id="board-link" class="nav-link" href="../html/board.html"><img src="../assets/icons/board.png" alt=""> Board</a>
        <a onclick="" id="addtask-link" class="nav-link" href="../html/add_task.html"><img src="../assets/icons/add_task.png" alt=""> Add Task</a>
        <a onclick="" id="contacts-link" class="nav-link" href="../html/contacts.html"><img src="../assets/icons/contacts.png" alt=""> Contacts</a>
    </div>

    <div class="nav-footer">
        <a onclick="" id="legalnotice-link" class="nav-link" href="../html/legal-notice.html"><img src="../assets/icons/legal_notice.png" alt=""> Legal notice</a>
    </div>

</div>

<div class="nav-mobile">
    <a onclick="" id="home-link-mobile" class="nav-link" href="../html/home.html"><img class="home-icon" src="../assets/icons/home.png" alt=""></a>
    <a onclick="" id="summary-link-mobile" class="nav-link" href="../html/summary.html"><img src="../assets/icons/summary.png" alt=""></a>
    <a onclick="" id="board-link-mobile" class="nav-link" href="../html/board.html"><img src="../assets/icons/board.png" alt=""></a>
    <a onclick="" id="addtask-link-mobile" class="nav-link" href="../html/add_task.html"><img src="../assets/icons/add_task.png" alt=""></a>
    <a onclick="" id="contacts-link-mobile" class="nav-link" href="../html/contacts.html"><img src="../assets/icons/contacts.png" alt=""></a>
</div>